.col-xs-7
  %br
  -if commentable.comments.any?
    %h5 Comments
  .comments{ commentable_type: commentable.class, commentable_id: commentable.id }
    = render commentable.comments
  -  if user_signed_in?
    .comment-form
      = simple_form_for [ commentable, commentable.comments.build ], remote: true do |f|
        = f.input :content, label: false, placeholder: "Add comment here"
        .float-xs-right= f.submit "send comment", class: "btn btn-sm btn-gray quad"