= form_tag searches_path, method: :get do
  = select_tag :category, options_for_select(Search::CATEGORIES)
  = text_field_tag :search, params[:search], placeholder: "search"
  = submit_tag "Search", class: "btn btn-sm btn-primary"