/*
 *= require bootstrap-custom
 */

@import "bootstrap";
@import "font-awesome";

$lightGray:  #DFDFDF;
$middleGray: #808080;
$darkGray:   #666E6D;
$montana:    #373A3C;
$elf:        #1A8C67;
$observ:     #1D9E74;

body{
  margin-top: 100px;
  background-color: $lightGray;
  margin-left: 50px;
}

h2{
  text-align: center;
}

ul{
  list-style-type: none;
}

/* classes---------------------------------*/
.answer{
  .card{
    min-height: 140px;
  }
  h3{
    color: #71FF80;
    margin: auto;
}}

.attach_list{
  ul{  
    padding-left: 10px;
    li a{
      font-weight: bold;
      color: $montana;
      text-decoration: none;
      margin: 5px;
}}}    
      

.edit-answer    { display: none; }
.edit-question  { display: none; }

.navbar{
  background-color: $observ;
  i{
    padding-top: 15px; 
    color: white;
}}

.footer-navbar{
  margin-top: 55px;
  height: 30px;
  background-color: $elf;
  ul {
    float: right;
    margin-right: 30px;
    li {
      color: white;
      display: inline; 
      margin-right: 10px;
      padding: 2px;
}}}

.observ{
  color: $observ !important;
}

.question{
  .card{
    min-height: 240px;
}}

.question-block{
  padding-left: 50px;
  ul li a{
          font-weight: bold;
          color: $montana;
          text-decoration: none;
}}

.red{
  color: #F7AFA4 !important;
}

.votes-table{
  margin: auto;
  ul{ 
    margin-left: 30px;
    text-align: center;
    li{
       height: 40px;
       a{
        text-decoration: none;
        color: $montana;
        padding: 0;
}}}}
/* id's ------------------------------------*/

#ask_button{
  float: right;
  margin-right: 50px;
}

#logotip{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-top:20px;
  &:hover{
    color: $lightGray;
}}

#best-marker{
  margin-left:  85px;
}

