/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body{
  margin-top: 70px;
}
h2{
  text-align: center;
}
#logotip{
  text-decoration: none;
  color: #F0AD4E;
  font-weight: bold;
  padding-top:20px;
  &:hover{
    color: #E29A00;
  }
}
.edit-answer { display: none; }
.edit-question { display: none; }
.answer{
  h3{
    color: #71FF80;
    margin: auto;
  }
}